// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// レイアウト幅
$layout-width-inner: 1140px;

// ブレークポイント
$breakpoints: (
    "sp": "screen and (max-width: 767px)",
    "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
    "pc": "screen and (min-width: #{$layout-width-inner})"
);
// メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
.p-form__width {
    width: $layout-width-inner;
    max-width: 100%;
}
// home
.p-home__background {
    padding: 0;
    max-width: 100%;
    .p-home__slider {
        background: #f2f2f2;
        background: -moz-linear-gradient(top, #fff, #f2f2f2);
        background: -webkit-linear-gradient(top, #fff, #f2f2f2);
        background: linear-gradient(to bottom, #fff, #f2f2f2);
        .p-tasks__container {
            padding: 4rem 0;
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            .p-task__list {
                width: 50%;
                display: flex;
                justify-content: space-around;
                border: none;
                box-shadow: none;
                @include mq("tab") {
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .p-img__container {
                    width: 24rem;
                    height: 24rem;
                    @include mq("tab") {
                        width: 100%;
                    }
                }
            }
        }
    }
    .p-home__btn {
        max-width: 100%;
        width: 30rem;
        margin: 0 auto;
        .p-home__list {
            margin-top: 6rem;
            text-align: center;
            .p-home__text {
                display: inline-block;
            }
        }
    }
    .p-home__list-container {
        margin: 4rem auto;
        width: 980px;
        @include mq("tab") {
            width: 100%;
        }
        @include mq("sp") {
            width: 100%;
        }
        .p-home__list {
            margin: 8rem 0;
            .p-task__flex {
                border-bottom: solid 1px #e0e0e0;
                text-align: center;
                margin: 4rem 0;
                padding-bottom: 4rem;
                &.non{
                    border-bottom: none;
                }
            }
            .p-img__container {
                .p-home__img {
                    width: 100%;
                }
            }
        }
    }
}
//fontawesome
.fa-github {
    font-size: 28px;
    padding-left: 4px;
    padding-right: 6px;
    color: gray;
}
.fa-youtube {
    font-size: 28px;
    padding-left: 3px;
    padding-right: 4px;
    color: red;
}
.p-nav__center {
    vertical-align: middle;
}

.p-search__container {
    .p-form__search {
        display: block;
        width: 40rem;
        max-width: 100%;
        margin: 0 auto;
        font-size: 120%;
        background: #f1f1f1;
        padding: 0.1em 0.5em;
        border: solid 1px #b3b3b3;
        border-top: solid 1px #717171;
        border-bottom: solid 1px #e0e0e0;
        box-shadow: 0 1px 2px rgba(100, 100, 100, 0.3) inset;
    }
}
.p-tasks__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .p-task__list {
        width: 50%;
        display: flex;
        padding: 1rem;
        border: solid 1px #b3b3b3;
        border-top: solid 1px #e0e0e0;
        border-bottom: solid 1px #717171;
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
        @include mq("sp") {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .p-img__container {
            display: block;
            width: 18rem;
            height: 18rem;
            line-height: 18rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq("sp") {
                width: 20rem;
                height: 20rem;
            }
            .p-task__img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .p-task__container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 12px;
            padding: 1rem 0;
            @include mq("sp") {
                margin: 0;
                padding: 1rem 0;
            }
            .p-task__flex {
                margin: 0;
                &.btn {
                    margin-top: 0.4rem;
                }
            }
        }
    }
}
//detailなどの表示フォーム
.p-task__display {
    font-size: 110%;
    background: #f1f1f1;
    padding: 0.1em 0.5em;
    //border : solid 1px #b3b3b3 ;
    //border-top : solid 1px #717171 ;
    border-bottom: solid 1px #e0e0e0;
    //box-shadow : 0 1px 2px rgba(100, 100, 100, 0.3)inset ;
}
//タスクがないときに表示する
.p-tasks__non {
    width: 170px;
    margin: 0 auto;
    padding: 2rem 0;
    .p-tasks__non__message {
        margin: 6rem 0;
    }
}
//タイトル用
.p-title__container {
    .p-title__tag {
        text-align: center;
        margin: 0.4rem;
    }
}
// ボタン
.btn {
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-danger {
    background: #eaa8bf;
}
.btn-success {
    background: #a6e39d;
}
.btn-secondary {
    background: #aec1e3;
}
.btn-light {
    background: #e3e3e3;
}

/*アニメーション*/
.fade-enter-active,
.fade-leave-active {
    transition: all 500ms;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
.fade-move {
    transition: all 700ms;
}
.fade-leave-active {
    /* 移動のトランジションをさせる場合は非表示アニメーション中に position: absoluteを指定しないと正しく動作しない */
    position: absolute;
}

//工事件数表示
.p-counter__box {
    display: flex;
    justify-content: space-between;
    .p-counter__right {
        margin: 0;
        font-weight: bold;
        .p-counter__total {
        }
    }
}
//Flash Message
.p-session__flash_message {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #3261ab;
    color: #fff;
}

//Pagenate
.paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 40px;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginationWrap ul.pagination li {
    display: inline;
    margin-right: 4px;
}

.paginationWrap ul.pagination li a {
    color: #2f3859;
    padding: 8px 14px;
    text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
    background-color: #a4a9cf;
    color: white;
    //border-radius: 40px;
    width: 38px;
    height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
    background-color: #e1e7f0;
    border-radius: 40px;
}
